import sys
sys.path.append('../')

def part_one(data: list):
    # TO DO
    return ''

def part_two(data: list):
    # TO DO
    return ''

def prepare_data(input):
    return input.split('\n')

if __name__ == '__main__':
    file = ('sample' if len(sys.argv) > 1 and sys.argv[1] in ['-s', '--sample'] else 'input') + '.txt'
    data = prepare_data(open(file).read().strip())

    print('Part 1:', part_one(data))
    print('Part 2:', part_two(data))
